mixin basicWrapper(classes)
  table(width='640', cellpadding='0', cellspacing='0', border='0', class='basic-td wrapper ' + classes)
    tr
      td(align='center' class='pad-bottom')
        table.container(width='600', cellpadding='0', cellspacing='0', border='0')
          if block
            block

mixin whiteCard(title, classes)
  +basicWrapper('white ' + (typeof classes !== 'undefined' ? classes : ''))
    +gridWhole()
      h1= title
      hr.bold
    if block
      block
  +sectionBreak()
    
mixin gridWhole(classes)
  td.mobile(width='600', class=('basic-td' + classes ? classes : ''))
    if block
      block

mixin gridHalf(classes)
  td.mobile(width='300', class=('basic-td' + classes ? classes : ''))
    if block
      block
    
mixin gridThird(classes)
  td.mobile(width='200', class=('basic-td' + classes ? classes : ''))
    if block
      block
    
mixin gridFourth(classes)
  td.mobile(width='150', class=('basic-td' + classes ? classes : ''))
    if block
      block
    
mixin gridFifth(classes)
  td.mobile(width='120', class=('basic-td' + classes ? classes : ''))
    if block
      block
      
mixin gridCustom(width, classes)
  td.mobile(width=width, class=('basic-td' + classes ? classes : ''))
    if block
      block
      
mixin sectionBreak()
  table(class='sectionBreak')

mixin tocSection(title, items)
  tr
    +gridWhole
      h2= title
  each item in items
    tr: +gridWhole(): + tocItem(++itemCount, item)

mixin tocItem(number, title)
  table: tr
    td(class='width-auto')
      span(class='num')= number
    td
      p(class='margin-zero')= title

mixin interstitialText(text)
  +row(class='pad-bottom')
    td.interstitial
      hr
      p!= text
      hr

mixin mediaMention(source, title, url, author, date)
  li.media
    h3= source
    p: a(href= url)= title
    p.caption= author + ' | ' + date

mixin introLetterSignoff(signoffText)
  br
  p= signoffText + ','
  img.signature.imgClass(src='img/brad_sig.gif' alt='Brad Burge signature')
  p: i Brad Burge#[br]Maps Director of Communications#[br]and Marketing

mixin asideRight(imgSrc, captionText)
  +aside(imgSrc, captionText)

mixin asideLeft(imgSrc, captionText,)
  +aside(imgSrc, captionText, true)

mixin aside(imgSrc, captionText, leftSide)
  table(class= (leftSide ? 'floatLeft' : 'floatRight'))
    tr
      +gridFourth()
        img.imgClass(src=imgSrc, height='280')
        p.caption= captionText
      
mixin donationStats(cost, raised, needed)
  td: table.donationStats: tr
    +gridFourth()
      span.stats-amount= '$' + cost
      span.stats-desc estimated study cost
    +gridFourth()
      span.stats-amount.middle-border= '$' + raised
      span.stats-desc.middle-border raised to date
    +gridFourth()
      span.stats-amount= '$' + needed
      span.stats-desc still needed
    +gridFourth.orange
      a.stats-donate-button(href='http://www.maps.org/donate')
        h2 Donate Now
        span.stats-desc help fund this study
