mixin basicWrapper(classes)
  table.wrapper(width='640', cellpadding='0', cellspacing='0', border='0', class=('basic-td' + classes ? classes : ''))
    tr
      td(height='10', style='font-size:10px; line-height:10px;')  
      // Spacer
    tr
      td(align='center')
        table.container(width='600', cellpadding='0', cellspacing='0', border='0')
          if block
            block
          
mixin gridWhole(classes)
  td.mobile(width='600', class=('basic-td' + classes ? classes : ''))
    if block
      block

mixin gridHalf(classes)
  td.mobile(width='300', class=('basic-td' + classes ? classes : ''))
    if block
      block
    
mixin gridThird(classes)
  td.mobile(width='200', class=('basic-td' + classes ? classes : ''))
    if block
      block
    
mixin gridFourth(classes)
  td.mobile(width='150', class=('basic-td' + classes ? classes : ''))
    if block
      block
    
mixin gridFifth(classes)
  td.mobile(width='120', class=('basic-td' + classes ? classes : ''))
    if block
      block
      
mixin gridCustom(width, classes)
  td.mobile(width=width, class=('basic-td' + classes ? classes : ''))
    if block
      block
      
mixin sectionBreak()
  table(class='sectionBreak')

mixin tocItem(number, title)
  table: tr
    td(class='width-auto')
      span(class='num')= number
    td
      p(class='margin-zero')= title

mixin interstitialText(text)
  +row(class='pad-bottom')
    td.interstitial
      hr
      p!= text
      hr

mixin mediaMention(source, title, url, author, date)
  li.media
    h3= source
    p: a(href= url)= title
    p.caption= author + ' | ' + date
