//- From https://github.com/memeticlabs/jink#documentation

mixin container(tdClasses)
  table.container(class!=attributes.class)
    tr
      td(class=(tdClasses ? tdClasses : ''))
        if block
          block

mixin row()
  table.row(class!=attributes.class)
    tr
      if block
        block

//- the columns mixin takes in the 
//- the number of columns and 
//- the name of the classes(space separated)
//- to be applied on the `wrapper` of the column
mixin columns(number, wrapperClasses, columnClasses)
  - var wrapperClasses = wrapperClasses ? wrapperClasses : ''
  - var columnClass = number + (attributes.visibility ? ' ' + attributes.visibility: '') + ' columns' + (columnClasses ? ' ' + columnClasses : '')

  td.wrapper(class=wrapperClasses)
    - if (attributes.visibility === "show-for-small")
      // [if !mso]><!-- 
    table(class!= columnClass)
      tr
        if block
          block
        td.expander
    - if (attributes.visibility === "show-for-small")
      // <![endif]

mixin column(number, wrapperClasses, columnClasses)
  - var wrapperClasses = wrapperClasses ? wrapperClasses : ''
  - var columnClass = number + (attributes.visibility ? ' ' + attributes.visibility: '') + ' column' + (columnClasses ? ' ' +columnClasses : '')

  td.wrapper(class=wrapperClasses)
    - if (attributes.visibility === "show-for-small")
      // [if !mso]><!-- 
    table(class!= columnClass)
      tr
        if block
          block
        td.expander
    - if (attributes.visibility === "show-for-small")
      // <![endif]

mixin fullWidthRow(rowClasses)
  +row()(class=rowClasses)
    td.center(align="center")
      center
        +container
          +columns('twelve', 'last') 
            if block
              block
            td.expander

mixin blockGrid(number)
  - var grid = "block-grid " + number + '-up'
    table(class=grid)
      tr
        if block
          block


mixin button(label)
  table.button(class!=(attributes.style ? attributes.style : ''))
    tr
      td
        a= label


mixin tocItem(number, title)
  table: tr
    td(class='width-auto')
      span(class='num')= number
    td
      p(class='margin-zero')= title

mixin basicColumn(padBottom, rowClasses)
  +row(class=(rowClasses ? rowClasses : ''))
    +columns('eleven', 'last offset-by-half')
      td(class=(padBottom ? 'text-pad pad-bottom' : 'text-pad'))
        if block
          block

mixin donationStats(cost, raised, needed)
  +row()
    +columns('eight', 'stats-container blue')
      td.four.sub-columns.stats-cell
        span.stats-amount= '$' + cost
        span.stats-desc estimated study cost
      td.four.sub-columns.stats-cell
        span.stats-amount.middle-border= '$' + raised
        span.stats-desc.middle-border raised to date
      td.four.sub-columns.stats-cell.last
        span.stats-amount= '$' + needed
        span.stats-desc still needed
    +columns('three', 'stats-container orange')
      td.one.sub-column
      td.eleven.sub-columns
        table.stats-cell: tr: td
          a.stats-donate-button(href='http://www.maps.org/donate')
            h2 Donate Now
            span.stats-desc help fund this study
